@import "../../../styles/_settings.scss";

#tech-stack-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#tech-stack-title {
    font-size: $sub-title-font-size;
    color: $default-color;
}

#tech-stack-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;

    margin-top: 10px;
}