// This file contains style constants defined throughout the website.

// Text sizes
$title-font-size: 30px; 
$sub-title-font-size: 27px;
$body-font-size: 18px;

// Text color
$default-color: rgb(59, 53, 53);

// Line height
$title-line-height: 50px;
$body-line-height: 30px;