@import '../../styles/settings.scss';

#project-section-container {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-right: 35px;
    padding-left: 35px;
}

#project-section-title {
    font-size: $title-font-size;
    color: $default-color;
}