@import '../../../styles/settings.scss';

.project-title {
    font-size: $sub-title-font-size;
    color: $default-color;
}

.project-details {
    margin-top: 20px;
    font-size: $body-font-size;
    color: $default-color;
    line-height: $body-line-height;
}

.project-link-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-top: 20px;
}