.techStackContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.techStackTitle {
    font-size: 27px;
    color: rgb(59, 53, 53);
}

.techStackList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;

    margin-top: 10px;
}